* {
	border: none;
	border-radius: 0;
	min-height: 0;
	margin: 0;
	padding: 0;
}

#waybar {
	background-color: alpha(#121211, 0.6);
	color: #eeeeef;
	font-size: 14px;
	font-family: "Hack Nerd font";
}

#workspaces button {
	padding: 0 5px;
	color: #eeeeef;
}

/* Fix: active workspace doesn't show up */
/* #workspaces button.focused { */
#workspaces button.active {
	color: #ffffff;
}

#custom-powermenu,
#cpu,
#temperature,
#memory,
#workspaces,
#clock,
#window,
#pulseaudio,
#custom-updates,
#bluetooth,
#group-expand,
#custom-expand,
#tray,
#custom-endpoint,
#battery,
#network {
	padding: 0px 8px;
	border-radius: 30px;
	margin: 3px 4px;
}

#workspaces {
	padding-left: 4px;
}



#battery {
	padding-right: 14px;
	margin-right: 8px;
}

#battery.warning {
	color: #f4df23;
	background-color: alpha(#ffffff, 0);
	/* Yellow for warning */
}

#battery.critical {
	color: #f63117;
	background-color: alpha(#ffffff, 0);
	/* Red for critical */
}

#window {
	color: #929db1;
}

#tray {
	margin-left: 4px;
}

#custom-updates {
	color: #1788e4;
}

#custom-powermenu {
	color: #e06c75;
	padding-right: 11px;
	margin-right: 8px;
}

#scratchpad {
	color: #cffafe;
	padding-right: 4px;
	padding-left: 4px;
}

#pulseaudio {
	color: #0fb9b1;
	padding-right: 14px;
}

#cpu {
	color: #61afef;
}

#temperature {
	color: #98c379;
}

#memory {
	color: #e5c07b;
}

#network {
	padding-right: 15px;
	color: #1788e4;
}

#clock {
	color: #fff;
	margin-left: 8px;
	/* opacity: 0.7; */
	/* font-size: 18px; */
}
